<ion-view view-title="Playlists" class="backgroundPic">
    <ion-content>
        <center style="padding-top: 85px">
            <h1 class="positive">Your Child Deserves A House Call</h1>
            <h3 class="positive"">A doctor to your home in under 40 minutes</h3>
        </center>
    </ion-content>
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
            <div class="button-bar">
                <button ng-click="login()" class="button button-large button-assertive">
                    Login
                </button>
                <button ng-click="signup()" class="button button-large button-positive">
                    Sign Up
                </button>
            </div>
        </div>
    </div>
</ion-view>
